.splash {
    background-image: url("https://09d1d85a2275582e9dad-7b3e649a230e2ba2cff912d8af17e0b5.ssl.cf1.rackcdn.com/12pgse-nv4.jpg");
    background-color: pink;
}

.logo {
    background-image: url("https://09d1d85a2275582e9dad-7b3e649a230e2ba2cff912d8af17e0b5.ssl.cf1.rackcdn.com/12pgse-nv4.jpg");
}
