.splash {
    background-image: url("https://github.com/Benjaminovotny/background/blob/master/12pgse-nv4.JPEG");
    background-color: pink;
}

.logo {
    background-image: url("https://github.com/Benjaminovotny/background/blob/master/12pgse-nv4.JPEG");
}
